<ion-header>
  <ion-navbar color="blue">
    <ion-title>注册</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label>工号</ion-label>
      <ion-input type="text" [(ngModel)]="uwid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>设置app密码</ion-label>
      <ion-input type="password" placeholder="请不要和域账户密码相同" [(ngModel)]="upwd1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>确认app密码</ion-label>
      <ion-input type="password" placeholder="请不要和域账户密码相同" [(ngModel)]="upwd2"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button color="blue" block id="loginBt" (click)="userSignUp($event)">注册</button>
  </div>
</ion-content>

