<ion-header>
  <ion-navbar color="blue">
    <ion-title>登录</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="ucenter-content">
  <ion-list inset>
    <ion-item>
      <ion-label>工号</ion-label>
      <ion-input type="text" [(ngModel)]="uwid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>app密码</ion-label>
      <ion-input type="password" placeholder="首次使用请先注册" [(ngModel)]="upwd"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button color="blue" block id="loginBt" (click)="login($event)">登录</button>
  </div>
  <ion-item>
    <button ion-button  clear  item-start (click)="toSignPage($event)">注册</button>
    <button ion-button  clear  item-end (click)="forgetPwd($event)">修改/忘记密码</button>
  </ion-item>
</ion-content>
